body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  /* list-style: none; */
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}
img {
  margin: 0 auto;
}
.wrapper {
  width: 1280px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}
h1,
h2,
h3 {
  color: #333;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  background-color: aqua;
}
.container {
}
.code {
  background: #eee;
  padding: 10px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}
.highest {
  display: flex;
  align-items: center;
}
.highest .color-box {
  width: 16px;
  height: 16px;
  background-color: #ff0000; /* red */
  margin-right: 8px;
}
.high {
  display: flex;
  align-items: center;
}
.high .color-box {
  width: 16px;
  height: 16px;
  background-color: #ff9900; /* red */
  margin-right: 8px;
}
.yellow .color-box {
  width: 16px;
  height: 16px;

  background-color: #ffff00; /* red */
  margin-right: 8px;
}
.yellow {
  display: flex;
  align-items: center;
}
.blue .color-box {
  width: 16px;
  height: 16px;
  background-color: #99a0db; /* red */
  margin-right: 8px;
}
.blue {
  display: flex;
  align-items: center;
}
.table, td, tr{
  border: 1px solid black;
}
.table{
  margin-top: 15px;
  margin-bottom: 15px;
}